<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.talents.mapper.DeclarationInformationMapper">
    
    <resultMap type="DeclarationInformation" id="DeclarationInformationResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="declarationId"    column="declaration_id"    />
        <result property="operator"    column="operator"    />
        <result property="operationalContext"    column="operational_context"    />
        <result property="remark"    column="remark"    />
        <result property="applicationStatus"    column="application_status"    />
        <result property="isPass"    column="is_pass"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectDeclarationInformationVo">
        select id, user_id, declaration_id, operator, operational_context, remark, application_status, is_pass, create_time from declaration_information
    </sql>

    <select id="selectDeclarationInformationList" parameterType="DeclarationInformation" resultMap="DeclarationInformationResult">
        <include refid="selectDeclarationInformationVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="declarationId != null  and declarationId != ''"> and declaration_id = #{declarationId}</if>
            <if test="operator != null  and operator != ''"> and operator = #{operator}</if>
            <if test="operationalContext != null  and operationalContext != ''"> and operational_context = #{operationalContext}</if>
            <if test="applicationStatus != null  and applicationStatus != ''"> and application_status = #{applicationStatus}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
            <if test="isPass != null  and isPass != ''"> and is_pass = #{isPass}</if>
        </where>
    </select>
    
    <select id="selectDeclarationInformationById" parameterType="Long" resultMap="DeclarationInformationResult">
        <include refid="selectDeclarationInformationVo"/>
        where id = #{id}
    </select>

    <select id="getScheduleInfo" parameterType="String" resultMap="DeclarationInformationResult">
        <include refid="selectDeclarationInformationVo"/>
        where user_id=#{userId}
        order by create_time desc
        limit 1;
    </select>

    <select id="declareProcess" parameterType="String" resultMap="DeclarationInformationResult">
        <include refid="selectDeclarationInformationVo"/>
        where declaration_id=(select id from user where user_id=#{userId} order by create_time desc limit 1)
    </select>

    <select id="selectDeclarationInformationByUserId" parameterType="String" resultMap="DeclarationInformationResult">
        <include refid="selectDeclarationInformationVo"/>
        where user_id = #{userId}
        order by create_time
        limit 1
    </select>
        
    <insert id="insertDeclarationInformation" parameterType="DeclarationInformation" useGeneratedKeys="true" keyProperty="id">
        insert into declaration_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="declarationId != null">declaration_id,</if>
            <if test="operator != null">operator,</if>
            <if test="operationalContext != null">operational_context,</if>
            <if test="remark != null">remark,</if>
            <if test="applicationStatus != null">application_status,</if>
            <if test="isPass != null">is_pass,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="declarationId != null">#{declarationId},</if>
            <if test="operator != null">#{operator},</if>
            <if test="operationalContext != null">#{operationalContext},</if>
            <if test="remark != null">#{remark},</if>
            <if test="applicationStatus != null">#{applicationStatus},</if>
            <if test="isPass != null">#{isPass},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateDeclarationInformation" parameterType="DeclarationInformation">
        update declaration_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="declarationId != null">declaration_id = #{declarationId},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="operationalContext != null">operational_context = #{operationalContext},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="applicationStatus != null">application_status = #{applicationStatus},</if>
            <if test="isPass != null">is_pass = #{isPass},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeclarationInformationById" parameterType="Long">
        delete from declaration_information where id = #{id}
    </delete>

    <delete id="deleteDeclarationInformationByIds" parameterType="String">
        delete from declaration_information where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>